# compiled output
*/dist

# Node
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Compiled output
*/dist
*/tmp
*/out-tsc
*/bazel-out

# Miscellaneous
*/.angular/cache
.sass-cache/
*/connect.lock
*/coverage
*/libpeerconnection.log
testem.log
