.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  gap: 10px;

  > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    
    > img {
      height: 35px;
      width: 35px;
      margin-right: 10px;
    }
  }
}