.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;

  @media (max-width: 936px) {
    justify-content: center;
    gap: 20px;
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    > img {
      max-width: 300px;
      border-radius: 50%;
    }
  }

  > form {
    max-width: 50%;

    @media (max-width: 936px) {
      max-width: 100%;
    }
  }
}

.user-form {
  width: 100%;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  width: 100%;

  &-input {
    width: calc((100% - 20px) / 2);
  }

  &-input.left {
    margin-right: 10px;
  }

  &-input.right {
    margin-left: 10px;
  }
}
