<main>
  <mat-card>
    <mat-card-title>Profile</mat-card-title>
    <mat-card-content class="profile">
      <img src="{{ userInfo?.picture }}" fallbackImage="assets/no_profile_picture.webp" alt="" width="300" height="300">

      <form [formGroup]="updateUserForm" (ngSubmit)="submitForm()" class="user-form">

        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input value="{{ userInfo?.first_name }}" class="input" matInput placeholder="John" formControlName="first_name">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input value="{{ userInfo?.last_name }}" class="input" matInput placeholder="Doe" formControlName="last_name">
        </mat-form-field>

      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <button type="submit" mat-flat-button color="primary" (click)="submitForm()" [disabled]="firstName?.invalid || lastName?.invalid">Submit</button>
    </mat-card-actions>
  </mat-card>

</main>
