.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;

  > form {


  }

  > img {
    max-width: 300px;
    border-radius: 50%;
  }
}

.user-form {
  width: 100%;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  width: 100%;
}
