<main>
  <h2>Profile Settings</h2>
  <mat-card>
    <mat-card-content class="profile">
      <div>
        <img src="{{ userInfo?.picture }}" fallbackImage="assets/no_profile_picture.webp" alt="" width="300" height="300">
        <input label="Upload an image" title="Upload" type="file" (change)="selectFile($event)" />
        <button type="button" mat-flat-button color="primary" [disabled]="!selectedFiles" (click)="upload()">Upload{{ percentage !== 100 && percentage !== 0 ? 'ing ' + percentage + '%' : '' }}</button>
      </div>

      <form [formGroup]="updateUserForm" (ngSubmit)="submitForm()" class="user-form">

        <div class="row">
          <mat-form-field appearance="outline" class="row-input left">
            <mat-label>First Name</mat-label>
            <input
              type="text"
              matInput
              placeholder="John"
              formControlName="first_name"
            />
            <mat-error *ngIf="firstName?.value === '' && firstName?.touched">Your first name can't be empty</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="row-input right">
            <mat-label>Last Name</mat-label>
            <input
              class="row-input"
              type="text"
              matInput
              placeholder="Doe"
              formControlName="last_name"
            />
            <mat-error *ngIf="lastName?.value === '' && lastName?.touched">Your last name can't be empty</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input
            class="row"
            type="number"
            matInput
            placeholder="18"
            formControlName="age"
          />
          <mat-error *ngIf="age?.value > 100">Your age name can't be greater than 100</mat-error>
          <mat-error *ngIf="age?.value < 18">Your age name can't be less than 18</mat-error>
        </mat-form-field>

        <button type="submit" mat-flat-button color="primary" (click)="submitForm()" [disabled]="!isFormValid()">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>

  <h2>Your Restaurants</h2>

  <mat-card>
    <ul>
      <li *ngFor="let restaurant of restaurantsOwned" class="restaurant-links">
        <span>{{ restaurant.name }}&nbsp;&dash;&nbsp;{{ restaurant.city }}</span>
        <div>
          <a mat-flat-button color="primary" href="/restaurant/{{ restaurant.id }}/edit">Edit</a>
          <a mat-flat-button color="accent" href="/restaurant/{{ restaurant.id }}">Link</a>
          <a mat-flat-button color="warn" href="/restaurant/{{ restaurant.id }}/delete">Delete</a>
        </div>
      </li>
    </ul>

    <div class="centered"><a align="center" mat-flat-button color="primary" href="/restaurant/new">Add Restaurant</a></div>
  </mat-card>

</main>
