mat-drawer {
  width: 200px;

  &-container {
    height: 100%;
  }
}

main {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  height: 50px;
  box-shadow: 0px 0px 2px black;

  &-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    > img {
      width: 32px;
      height: 32px;
      margin-right: 20px;
    }
  }
}

.menu-button {
  margin: 10px;
}

.menu-title {
  margin: 20px;
  font-style: italic;
}

.nav {
  &-logo {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    > img {
      width: 48px;
      height: 48px;
    }
  }

  &-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;

    &-icon {
      margin-right: 10px;
    }
  }
}
