<mat-card
  class="restaurant-card"
>
  <mat-card-header class="header">
    <mat-card-title class="title"><h2>{{ restaurant.name }}</h2></mat-card-title>
    <mat-card-subtitle class="subtitle">
      <a href="https://www.google.com/maps/@{{ restaurant.coordinates.latitude }},{{ restaurant.coordinates.longitude }},21z">
        <mat-icon class="icon">share_location</mat-icon>
        {{ restaurant.address }}&comma;&nbsp;{{ restaurant.cap }}&nbsp;{{ restaurant.city}}
      </a>
    </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="{{ restaurant.header }}" alt="banner-image">

  <mat-chip-list>
    <mat-chip *ngFor="let tag of restaurant.tags">{{ tag }}</mat-chip>
  </mat-chip-list>

  <mat-card-actions align="end">
    <a mat-raised-button color="primary" target="_self" href="restaurant/{{ restaurant.id }}">SEE MORE</a>
  </mat-card-actions>
</mat-card>
