.restaurant-card {
  max-width: 400px;
}

.title>h2 {
  margin-left: -15px;
}

.subtitle>a {
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  >.icon {
    margin-left: -20px;
    margin-right: 10px;
  }
}
