<mat-card
  class="restaurant-card"
  *ngIf="restaurant.name"
>
  <mat-card-header class="header">
    <mat-card-title class="title"><h2>{{ restaurant.name }}</h2></mat-card-title>
    <mat-card-subtitle class="subtitle">
      <a *ngIf="hasLink()" href="{{ getLink() }}">
        <mat-icon class="icon">share_location</mat-icon>
        {{ restaurant.address }}&comma;&nbsp;{{ restaurant.cap }}&nbsp;{{ restaurant.city}}
      </a>
      <a *ngIf="!hasLink()" >
        <mat-icon class="icon">share_location</mat-icon>
        {{ restaurant.address }}&comma;&nbsp;{{ restaurant.cap }}&nbsp;{{ restaurant.city}}
      </a>
    </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="{{ restaurant.header }}" fallbackImage="assets/no_header_picture.webp" alt="banner-image">

  <mat-chip-list>
    <mat-chip *ngFor="let tag of restaurant.tags">{{ tag }}</mat-chip>
  </mat-chip-list>

  <mat-card-actions align="end">
    <a mat-raised-button color="primary" target="_self" href="restaurant/{{ restaurant.id }}">SEE MORE</a>
  </mat-card-actions>
</mat-card>
